/ChattingRoom/fx_client/build/
/ChattingRoom/fx_client/dist/
/ChattingRoom/fx_client/nbproject/private/
/ChattingRoom/fx_server/build/
/ChattingRoom/fx_server/dist/
/ChattingRoom/fx_server/nbproject/private/